<div class="container mt-2 mx-auto px-4 text-left">
  <h1 class="text-2xl font-bold mb-4">Welcome, Admin!</h1>

  <div class="flex justify-start gap-3 mt-4">
    <app-filter-dropdown-competition></app-filter-dropdown-competition>
    <app-add-competition-modal></app-add-competition-modal>
  </div>

  <div class="mx-2 my-2 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Code</th>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Start Time</th>
          <th scope="col" class="px-6 py-3">End Time</th>
          <th scope="col" class="px-6 py-3">Members</th>
          <th scope="col" class="px-6 py-3">Location</th>
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Ranking</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let competition of competitions" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ competition.code }}</th>
          <td class="px-6 py-4">{{ competition.date }}</td>
          <td class="px-6 py-4">{{ competition.startTime }}</td>
          <td class="px-6 py-4">{{ competition.endTime }}</td>
          <td class="px-6 py-4 text-center">{{ competition.numberOfParticipants }}</td>
          <td class="px-6 py-4">{{ competition.location }}</td>
          <td class="px-6 py-4">{{ competition.amount }} DH</td>
          <td class="px-6 py-4" [ngStyle]="{ color: competition.status === 'encour' ? 'green' : competition.status === 'avenir' ? 'blue' : competition.status === 'ferme' ? 'red' : 'inherit' }">{{ competition.status }}</td>
          <td class="px-6 py-4">
            <a [routerLink]="'/competitions/' + competition.code + '/ranking'" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ranking</a>
          </td>
          <td class=" px-4 py-2">
            <a [routerLink]="'/competitions/' + competition.code" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page my-auto navigation example">
    <ul class="inline-flex -space-x-px text-base h-10">
      <li>
        <a href="#" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
      </li>

      <li *ngFor="let page of [].constructor(totalPages); let i = index">
        <a
        [routerLink]="'/competitions/'"
        [queryParams]="{ page: i }"
         class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          {{ i }}
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
      </li>
    </ul>
  </nav>

</div>
