<div class="mt-4">
  <app-add-fish-modal></app-add-fish-modal>
</div>
<div class="relative mt-6 overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Id</th>
        <th scope="col" class="px-6 py-3">Fish Name</th>
        <th scope="col" class="px-6 py-3">Fish weight</th>
        <th *ngIf="true" scope="col" class="px-6 py-3">view details</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of fishes"
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.id }}
        </th>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.name }}
        </th>

        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.averageWeight }}
        </th>

        <td *ngIf="true" class="px-6 py-4">
          <button>view fish details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
