<div class="p-4">
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <form
    [formGroup]="memberFrom"
    (ngSubmit)="onSubmit(memberFrom)"
    class="max-w-md flex gap-2 justify-start"
  >
    <div class="my-auto">
      <div>
        <input
          type="text"
          id="identityNumber"
          name="identityNumber"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""
          formControlName="identityNumber"
          placeholder="identityNumber"
          name="identityNumber"
        />
      </div>
    </div>
    <button
      type="submit"
      class="py-2.5 my-auto px-5 me-2 text-sm font-semibold text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      Add member to competition
    </button>
  </form>
</div>
